*{
    margin:0;
    padding:0;
    border:0px;
    background-color: burlywood;
    font-family: "Gill Sans", sans-serif;

}
.contain
{
    background-size: cover;
}
.name
{
    padding:5%;
    padding-bottom:1%;
    line-height: 0;
    font-size: 2.5em;
}
.about
{
    line-height:100%;
    padding-top:1%;
    padding-left:7%;
    color:grey;
    float: left;
    display: table;

}
.address
{padding-right:15%;
    float:right;
display:table;
padding-bottom:0%;
line-height: 100%;
    width: 2px;
}
.contact
{
    clear: right;
    float:right;
    display:table;
    padding:1%;
    padding-right:2%;
    padding-top:0.1%;
    font-weight:bold;
    line-height: 100%;
    width: 1px;
}
.undername
{
    padding-left:7%; 
    padding-top:1%;
    
}
.ed
{
    background-image: url("../images/background.jpg");    
    background-repeat: no-repeat;

padding-left:5%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
letter-spacing:1px;
font-size: 1.2em;
color:red;
padding-bottom:0.5%;
padding-top:1.5%;

}
.education
{
    margin-left:7%;
    width: 300px;
}
table {
    border-collapse: initial;
    border-style: hidden;
  }
table td {
    border: 1px solid grey;
  }
  td
  {color:black;
      padding: 2px;
      padding-right:4px;
  }
.heading
{
font-weight: bold;
}
.duration
{
color:grey;
font-size: 80%;

}
.details
{
font-family: cursive;
line-height: 120%;
padding-bottom:1%;
}
.projects
{
    float:left;
    width:70%;
  margin:10px;
  padding-left: 6%;
}
.skills
{
    padding:1%;
    padding-right:5%;
    float:right;
display:table;
padding-bottom:0%;
line-height: 100%;
    width: 2px;
}
.Paper
{padding-left:5%;
    background-image: url("../images/background.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    color:red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    letter-spacing:1px;
    font-size: 1.2em;
    
   
}

.pp
{
    padding-left:7%;
}
.paper_heading
{
font-weight: bold;
}
.paper_details
{
    font-family: cursive;
    line-height: 120%;
    padding-bottom:1%;
}